version: "3.7"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  loket:
    image: lblod/frontend-loket:0.89.0
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dashboard:
    image: lblod/frontend-dashboard:1.6.0
    environment:
      EMBER_LOGIN_ROUTE: "mock-login"
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  vendor-management:
    image: lblod/frontend-vendor-access-management:0.8.0
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  identifier:
    image: semtech/mu-identifier:1.10.1
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deltanotifier:
    image: cecemel/delta-notifier:0.2.0-beta.2
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  database:
    image: semtech/mu-authorization:feature-service-roam-r1.1
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
      DATABASE_OVERLOAD_RECOVERY: "true"
      DATABASE_COMPATIBILITY: "Virtuoso"
      # Note: not sure wether it gets picked up properly, it is meant for healing-process which may make
      # heavy queries
      QUERY_MAX_PROCESSING_TIME: 605000
      QUERY_MAX_EXECUTION_TIME: 605000
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  virtuoso:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini # Note: on production override this setting
      - ./config/virtuoso/:/opt/virtuoso-scripts
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.6.0
    links:
      - virtuoso:database
    environment:
      MU_SPARQL_TIMEOUT: "300"
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:feature-differently-stable-luckless
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:0.9.2
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "a2c0d6ea-01b4-4f68-920b-10834a943c27"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://loket.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      LOG_SINK_URL: "http://sink"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: cecemel/file-service:3.3.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dbcleanup:
    image: lblod/db-cleanup-service:0.3.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deliver-email-service:
    image: redpencil/deliver-email-service:0.2.0
    environment:
      MAILBOX_URI: "http://data.lblod.info/id/mailboxes/1"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  report-generation:
    image: lblod/loket-report-generation-service:0.6.5
    volumes:
      - ./data/files:/share
      - ./config/reports/:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  enrich-submission:
    image: lblod/enrich-submission-service:1.8.0
    environment:
      ACTIVE_FORM_FILE: "share://semantic-forms/20240110093200-forms.ttl"
    volumes:
      - ./config/semantic-forms:/share/semantic-forms
      - ./data/files/submissions:/share/submissions
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  validate-submission:
    image: lblod/validate-submission-service:1.2.1
    environment:
      MAX_BODY_SIZE: "10000kb"
    volumes:
      - ./config/semantic-forms:/share/semantic-forms
      - ./data/files/submissions:/share/submissions
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  clean-up-submission:
    image: lblod/clean-up-submission-service:1.1.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  person-uri-for-social-security-number:
    image: lblod/person-uri-for-social-security-number-service:0.4.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sync-with-kalliope-error-notification:
    image: lblod/sync-with-kalliope-error-notification-service:0.1.3
    environment:
      EMAIL_FOLDER: "http://data.lblod.info/id/mail-folders/2"
      EMAIL_GRAPH: "http://mu.semte.ch/graphs/system/email"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  subsidy-applications-management:
    image: lblod/subsidy-applications-management-service:0.11.0
    environment:
      # “At every 15th minute past every hour from 8 through 18 on every day-of-week from Monday through Friday.”
      META_DATA_CRON: "0 */15 8-18 * * 1-5"
      MAX_BODY_SIZE: "10000kb"
    volumes:
      - ./config/subsidy-application-management:/config
      - ./data/files/subsidies:/data
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  case-number-generator:
    image: lblod/case-number-service:2.0.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  subsidy-application-flow-management:
    image: lblod/subsidy-application-flow-management-service:0.3.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  jobs-controller:
    image: lblod/job-controller-service:1.0.1
    volumes:
      - ./config/jobs-controller/:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  error-alert:
    image: lblod/loket-error-alert-service:1.0.0
    volumes:
      - ./config/error-alert:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  update-bestuurseenheid-mock-login:
    image: lblod/update-bestuurseenheid-mock-login-service:0.1.2
    volumes:
      - ./config/mock-login:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  ##############################################################################
  # Vendor endpoint
  ##############################################################################
  sparql-authorization-wrapper:
    image: lblod/sparql-authorization-wrapper-service:1.0.0
    volumes:
      - ./config/sparql-authorization-wrapper:/config
    restart: always
    logging: *default-logging
  berichtencentrum-melding:
    image: lblod/berichten-melding-service:1.0.2
    volumes:
      - ./data/files:/share
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA GENERAL
  ################################################################################
  publication-triplestore:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/publication-triplestore:/data
      - ./config/publication-triple-store/virtuoso.ini:/data/virtuoso.ini
      - ./config/publication-triple-store/:/opt/virtuoso-scripts
    restart: always
    logging: *default-logging
  delta-producer-report-generator:
    image: lblod/delta-producer-report-generator:0.4.0
    volumes:
      - ./config/delta-producer/report-generator:/config
    environment:
      EMAIL_FROM: "noreply@lblod.info"
      EMAIL_TO: "support+lblod@redpencil.io"
      APP_NAME: "app-digitaal-loket-dev"
      OUTBOX: "http://data.lblod.info/id/mail-folders/2"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  delta-producer-dump-file-publisher:
    image: lblod/delta-producer-dump-file-publisher:0.10.3
    environment:
      EXPORT_TTL_BATCH_SIZE: 20
      MAX_SUBJECT_COUNT: 1000000
    volumes:
      - ./config/delta-producer/dump-file-publisher:/config
      - ./data/files:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging
  delta-files-share:
    image: redpencil/file-share-sync:0.0.5
    volumes:
      - ./data/files:/share
    environment:
      ALLOW_SUPER_CONSUMER: "true"
      ALLOWED_ACCOUNTS: "http://services.lblod.info/diff-consumer/account,http://data.lblod.info/foaf/account/id/dd85f516-ee7c-406b-8245-91ce7f9545b7,http://data.lblod.info/foaf/account/id/4171b7a5-a4d6-42d0-bf37-f97b135fb885"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA SUBMISSIONS: START
  ################################################################################
  delta-producer-background-jobs-initiator:
    image: lblod/delta-producer-background-jobs-initiator:1.0.0
    volumes:
      - ./config/delta-producer/background-jobs-initiator:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  delta-producer-publication-graph-maintainer:
    image: lblod/delta-producer-publication-graph-maintainer:1.0.3
    environment:
      MAX_BODY_SIZE: "50mb"
      PRETTY_PRINT_DIFF_JSON: "true"
      PUBLICATION_VIRTUOSO_ENDPOINT: "http://publication-triplestore:8890/sparql"
      PUBLICATION_MU_AUTH_ENDPOINT: "http://publication-triplestore:8890/sparql"
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      CONFIG_SERVICES_JSON_PATH: '/config/publication-graph-maintainer/config.json'
    volumes:
      - ./config/delta-producer:/config
      - ./data/files/:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA SUBMISSIONS: END
  ################################################################################
  ################################################################################
  # DELTA WORSHIP-SERVICES-SENSITIVE: START
  ################################################################################
  delta-producer-background-jobs-initiator-worship-services-sensitive:
    image: lblod/delta-producer-background-jobs-initiator:0.3.1
    environment:
      JOBS_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b/LoketAdmin"
      DUMP_FILE_CREATION_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/deltaDumpFileCreation/worship-services-sensitive"
      INITIAL_PUBLICATION_GRAPH_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/initialPublicationGraphSyncing/worship-services-sensitive"
      HEALING_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/healingOperation/worship-services-sensitive"
      CRON_PATTERN_DUMP_JOB: "0 0 6 * * 6" # weekly on saturday
      CRON_PATTERN_HEALING_JOB: "0 0 4 * * *" # everyday at 4 AM
      START_INITIAL_SYNC: "false" # prefer to disable it now. We want to have feeling with how the DB acts.
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  delta-producer-publication-graph-maintainer-ws-sensitive:
    image: lblod/delta-producer-publication-graph-maintainer:0.15.1
    environment:
      MAX_BODY_SIZE: "50mb"
      JOBS_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b/LoketAdmin"
      RELATIVE_FILE_PATH: "deltas/worship-services-sensitive"
      PUBLICATION_GRAPH: "http://redpencil.data.gift/id/deltas/producer/loket-worship-services-sensitive"
      HEALING_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/healingOperation/worship-services-sensitive"
      INITIAL_PUBLICATION_GRAPH_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/initialPublicationGraphSyncing/worship-services-sensitive"
      QUEUE_POLL_INTERVAL: 3000
      USE_VIRTUOSO_FOR_EXPENSIVE_SELECTS: "true" # some queries are just too expensive
      SKIP_MU_AUTH_INITIAL_SYNC: "true"
      HEALING_PATCH_GRAPH_BATCH_SIZE: 500
      UPDATE_PUBLICATION_GRAPH_SLEEP: 200
      SERVE_DELTA_FILES: "true"
      DELTA_INTERVAL_MS: 10000
      PRETTY_PRINT_DIFF_JSON: "true"
      PUBLICATION_VIRTUOSO_ENDPOINT: "http://publication-triplestore:8890/sparql"
      PUBLICATION_MU_AUTH_ENDPOINT: "http://publication-triplestore:8890/sparql"
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404"
      PUBLISHER_URI: "http://data.lblod.info/services/delta-producer-publication-graph-maintainer-ws-sensitive"
      FILES_GRAPH: "http://redpencil.data.gift/id/deltas/producer/worship-services-sensitive-deltas"
      ACCOUNT: "http://data.lblod.info/foaf/account/id/f185b63e-5bd9-40a5-8906-4ac1fb5a8db7"
    volumes:
      - ./config/delta-producer/worship-services-sensitive:/config
      - ./data/files/:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA WORSHIP-SERVICES-SENSITIVE: END
  ################################################################################
  ################################################################################
  # DELTA SUBSIDIES: START
  ################################################################################
  delta-producer-background-jobs-initiator-subsidies:
    image: lblod/delta-producer-background-jobs-initiator:0.3.1
    environment:
      JOBS_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b/LoketAdmin"
      DUMP_FILE_CREATION_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/deltaDumpFileCreation/subsidies"
      INITIAL_PUBLICATION_GRAPH_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/initialPublicationGraphSyncing/subsidies"
      HEALING_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/healingOperation/subsidies"
      CRON_PATTERN_DUMP_JOB: "0 0 5 * * 6" # weekly on saturday
      CRON_PATTERN_HEALING_JOB: "0 0 4 * * *" # everyday at 4 AM
      START_INITIAL_SYNC: "false" # prefer to disable it now. We want to have feeling with how the DB acts.
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  delta-producer-publication-graph-maintainer-subsidies:
    image: lblod/delta-producer-publication-graph-maintainer:0.15.1
    environment:
      MAX_BODY_SIZE: "50mb"
      JOBS_GRAPH: "http://mu.semte.ch/graphs/organizations/141d9d6b-54af-4d17-b313-8d1c30bc3f5b/LoketAdmin"
      RELATIVE_FILE_PATH: "deltas/subsidies"
      PUBLICATION_GRAPH: "http://redpencil.data.gift/id/deltas/producer/loket-subsidies"
      HEALING_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/healingOperation/subsidies"
      INITIAL_PUBLICATION_GRAPH_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/initialPublicationGraphSyncing/subsidies"
      QUEUE_POLL_INTERVAL: 3000
      USE_VIRTUOSO_FOR_EXPENSIVE_SELECTS: "true" # some queries are just too expensive
      SKIP_MU_AUTH_INITIAL_SYNC: "true"
      HEALING_PATCH_GRAPH_BATCH_SIZE: 500
      UPDATE_PUBLICATION_GRAPH_SLEEP: 200
      SERVE_DELTA_FILES: "true"
      DELTA_INTERVAL_MS: 10000
      PRETTY_PRINT_DIFF_JSON: "true"
      PUBLICATION_VIRTUOSO_ENDPOINT: "http://publication-triplestore:8890/sparql"
      PUBLICATION_MU_AUTH_ENDPOINT: "http://publication-triplestore:8890/sparql"
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404"
      PUBLISHER_URI: "http://data.lblod.info/services/delta-producer-publication-graph-maintainer-subsidies"
      FILES_GRAPH: "http://redpencil.data.gift/id/deltas/producer/subsidies-deltas"
      ACCOUNT: "http://data.lblod.info/foaf/account/id/4171b7a5-a4d6-42d0-bf37-f97b135fb885"
    volumes:
      - ./config/delta-producer/subsidies:/config
      - ./data/files/:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)<
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA SUBSIDIES: END
  ################################################################################

  ################################################################################
  # DELTA CONSUMERS
  ################################################################################
  ################################################################################
  # OP PUBLIC CONSUMER
  ################################################################################
  reasoner:
    image: eyereasoner/reasoning-service:increased-stack-limit
    volumes:
      - ./config/reasoner:/config
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
  op-public-consumer:
    image: lblod/delta-consumer:0.0.24
    environment:
      DCR_SERVICE_NAME: "op-public-consumer"
      DCR_SYNC_BASE_URL: "https://organisaties.abb.lblod.info" # replace with link to OP API
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/PublicCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/initialSync/op-public"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/deltaSync/op-public"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/op-public-consumer"
      DCR_DISABLE_INITIAL_SYNC: "true"
      BYPASS_MU_AUTH_FOR_EXPENSIVE_QUERIES: "true"
      BATCH_SIZE: 1000
      DCR_SYNC_FILES_PATH: "/sync/public/files"
      FILE_SYNC_GRAPH: "http://mu.semte.ch/graphs/temp/original-physical-files-data"
      KEEP_DELTA_FILES: "true"
      DCR_ENABLE_DELTA_CONTEXT: "true"
      DCR_LANDING_ZONE_DATABASE: "publication-triplestore"
      DCR_LANDING_ZONE_GRAPH: "http://mu.semte.ch/graphs/landing-zone/op-public"
    volumes:
      - ./config/op-consumer/public:/config/triples-dispatching/custom-dispatching
      - ./data/files/consumer-files/op-public:/consumer-files/
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
